footer {
    margin-top: 100px;
    padding-bottom: 25px;
    text-align: center;
    bottom: 0;
}
.jumbotron {
    background-color: #F7A66A;
    color: #fff;
}
.main-container {
    text-align: center;
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.get-started-btn {
    margin-top: 50px;
}
.get-started-btn-bottom {
    margin-top: 50px;
    text-align: center;
}
.get-started-btn-bottom  > a {
    color: #FFF;
    background-color: #F7A66A;
    border-color: #FFF;
}
